.sidebar {
  height: 276px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding: 56px 96px 62px 48px;
}

.sidebar__link {
  width: 100%;
}

.sidebar__button {
  width: 400px;
  margin: 0;
  font-style: "Arial";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 30px auto 30px 32px;
  width: 276px;
  height: 80px;
  border-radius: 8px;
  border: 2px solid #eeeeee;
  background-color: #eeeeee;
}
