.status-bar {
  width: 506px;
}

.status-bar__wrapper {
  display: flex;
  justify-content: space-between;
}

.status-bar__container-status {
  width: 506px;
  display: flex;
  flex-direction: column;
  height: 32px;
  gap: 8px;
}


.status-bar__container {
  display: flex;
  gap: 4px;
}

.status-bar__container-subtitle {
  display: flex;
  gap: 4px;
}

.statusBar__subtitle-item {
  width: 124px;
  height: 16px;
  border-right: 1px solid #BABDBF;
}

.statusBar__subtitle-item:last-of-type {
  border: none;
}

.status-bar__subtitle-name {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #959799;
  text-align: center;
}

.statusBar__item {
  width: 60px;
  height: 8px;
  background-color: #eeeeee;
  transition: background-color 0.3s ease;
}
.currentStep_type_active {
  background-color: #4BB24E
}

.statusBar__item:first-of-type {
  border-radius: 4px 0 0 4px;
}

.statusBar__item:last-of-type {
  border-radius: 0 4px 4px 0;
}

.statusBar__item:nth-child(7),
.statusBar__item:nth-child(8),
.statusBar__item:nth-child(9) {
  width: 39px;
}

.status-bar__description {
  margin: 4px 0 0 0;
  font-style: 'Arial';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.status-bar__title-wrapper {
  display: flex;
  justify-content: space-between;
}
.status-bar__draft {
  height: 32px;
  width: 146px;
  border-radius: 8px;
  padding: 26px 12px 0 12px;
  margin:0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #1785e5;
  background-color: #fff;
  cursor: pointer;
  border: none;
}
