.add-input {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 506px;
  height: 40px;
  border-radius: 8px;
  margin: 12px 0;
  padding: 10px 16px;
  box-sizing: border-box;
  border: 1px solid #babdbf;
  margin: 12px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.add-input:hover {
  border: 1px solid #959799;
}

.add-input:focus {
  outline: #1785E5;
  border: 1px solid #1785E5;
}

.add-input__container-suggestion {
  display: flex;
  border-radius: 8px;
  gap: 8px;
  margin: 17px 0 0 0;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  max-width: 506px;
}

.add-input__container-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid #babdbf;
  height: 36px;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #EEEEEE;
  flex-shrink: 0;
}

.add-input__container-added {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin: 12px 0 0 0;
}

.add-input__trash {
  margin: 0 0 0 12px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  width: 16px;
  height: 16px;
}

.input__error {
  margin: 8px 0 0 0;
  color: #D92121;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
}

.add-input__valid {
  border: 1px solid #babdbf;
}

.add-input__invalid {
  border: 1px solid #D92121;
}