.title {
  display: flex;
  gap: 14px;
  padding-top: 44px;
}

.title__name {
  margin: 0;
  font-style: 'Arial';
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.title__img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
}
