.main {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 40px 0 0 0;
}

.main__container {
  width: 532px;
}

.main__button {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}