.bigPicture {
  width: 159px;
  align-self: flex-end;
  margin: 27.5px 54px 27.5px 0;
}

.bigPicture__image {
  width: 159px;
  height: 88px;
}

.bigPicture:first-of-type, .bigPicture:last-of-type {
  align-self: flex-start;
  justify-self: center;
}

.bigPicture:first-of-type {
  margin: 52px 0 0 44px;
  
}

.bigPicture:last-of-type {
  margin: 20px 0 54px 47px;
}

.bigPicture__title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.6px;
  text-align: center;
  color: #888686;
}

.bigPicture:first-of-type > .bigPicture__title  {
  color: #252525;
}